@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "SatisYap";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Satış Yap</h2>

<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">@ViewBag.urunid Id numaralı ve @ViewBag.urunad İsimli Ürün İçin Satış Ekranındasınız!</h4>
        <p>Aşağıdaki tabloda uygun seçimleri yaparak satış işlemini gerçekleştirebilirsiniz.</p>
    </div>
    
    <form method="post" action="/Urun/SatisYap">
        @Html.LabelFor(x => x.UrunId)
        <input type="text" name="UrunId" value="@ViewBag.urunid" class="form-control" readonly/>
        <br />

        @Html.Label("Cari Seçiniz")
        @Html.DropDownListFor(x => x.CariId, (List<SelectListItem>)ViewBag.carilist, new { @class = "form-control", @required = "required" })
        <br />

        @Html.Label("Personel Seçiniz")
        @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.personellist, new { @class = "form-control", @required = "required" })
        <br />

        <label>Ürün Adedi</label>
        <input type="number" id="txt1" onchange="sum();" name="Adet" class="form-control" placeholder="Adet Giriniz"/>
        <br />

        <label>Ürün Fiyatı</label>
        <input type="text" name="Fiyat"  value="@ViewBag.urunfiyat" id="txt2" onkeyup="sum();" class="form-control" />
        <br />

        <label>Toplam Tutar</label>
        <input type="text" id="txt3" value="0" name="ToplamTutar" class="form-control" readonly/>
        <br />
        <button class="btn btn-primary" style="margin-right:20px">Kaydet</button>
        <a href="/Satis/Index" class="btn btn-primary">Satışlar Sayfasına Geri Dön</a>
    </form>
</div>
<br />

<script>
    function sum() {
        var sayi1 = document.getElementById('txt1').value;
        var sayi2 = document.getElementById('txt2').value;
        var sonuc = parseInt(sayi1) * parseInt(sayi2);
        if (!isNaN(sonuc)) {
            document.getElementById('txt3').value = sonuc;
        }
    };
</script>