@model MvcOnlineTicariOtomasyon.Models.Siniflar.FaturaKalem
@{
    ViewBag.Title = "YeniKalem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mt-4">Faturaya Kalem Ekleme</h1>
<br />
<br />

@using (Html.BeginForm("YeniKalem", "Fatura", FormMethod.Post)) 
{ 
<label>Ürün Adı</label>
@Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control", @required = "required" })

<label>Miktar</label>
@Html.TextBoxFor(x => x.Miktar, new { @class = "form-control", @required = "required" })

<label>Birim Fiyat</label>
@Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control", @required = "required" })

<label>Tutar</label>
@Html.TextBoxFor(x => x.Tutar, new { @class = "form-control", @required = "required" })

<label>Fatura Id</label>
@Html.TextBoxFor(x => x.FaturaId, new { @class = "form-control", @required = "required" })
<br />
<button class="btn btn-primary" style="margin-right:20px">Faturaya Kalem Ekle</button>
<a href="/Fatura/Index" class="btn btn-primary">Faturalar Sayfasına Geri Dön</a>
}

