@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.Urun>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tüm Ürünlerin Listesi</h3>
                <a href="/Urun/Index" class="btn btn-dark">Ürünler Sayfasına Git --></a>
                <br />
                <br />
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Arama">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ürün Adı</th>
                            <th>Marka</th>
                            <th>Stok Sayısı</th>
                            <th>Alış Fiyatı</th>
                            <th>Satış Fiyatı</th>
                            <th>Durum</th>
                            <th>Kategorisi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.UrunId</td>
                                <td>@item.UrunAd</td>
                                <td>@item.Marka</td>
                                <td>@item.Stok</td>
                                <td>@item.AlisFiyat</td>
                                <td>@item.SatisFiyat</td>
                                <td>
                                    @if (item.Durum == true)
                                    {
                                        @:Satışta
                                    }
                                    else if (item.Durum == false)
                                    {
                                    @:Satışta Değil
                                    }
                                </td>
                                <td>@item.Kategori.KategoriAd</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
