@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket>
@{
    ViewBag.Title = "PersonelSatislar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1 class="mt-4">Personel Detay Sayfası</h1>
<br />
<br />
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">@ViewBag.perad Personeline Ait Yapılan Satışların Listesi</h4>
    <p>Merhaba, aşağıdaki tabloda seçmiş olduğunuz personele ait yapılan tüm satışların listesi bulunmaktadır.</p>
</div>
<br />
<br />

<div>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Satış Id</th>
                <th>Ürün</th>
                <th>Cari</th>
                <th>Fiyat</th>
                <th>Adet</th>
                <th>Toplam</th>
                <th>Tarih</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SatisId</td>
                    <td>@item.Urun.UrunAd</td>
                    <td>@item.Cari.CariAd @item.Cari.CariSoyad</td>
                    <td>@item.Fiyat</td>
                    <td>@item.Adet</td>
                    <td>@item.ToplamTutar</td>
                    <td>@item.Tarih</td>
                    <td><a href="#" class="btn btn-dark">Yazdır</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a href="/Personel/Index" class="btn btn-primary">Personel Sayfasına Geri Dön</a>
