@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mt-4">Personel Ekleme Sayfası</h1>
<br />
<br />
<div class="container">
    <form method="post" action="/Personel/PersonelEkle">
        @Html.LabelFor(x => x.PersonelAd)
        @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control", @required = "required" })
        <br />

        @Html.LabelFor(x => x.PersonelSoyad)
        @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control", @required = "required" })
        <br />

        @Html.LabelFor(x => x.PersonelGorsel)
        @Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control", @required = "required" })
        <br />

        @Html.LabelFor(x => x.PersonelUnvan)
        @Html.TextBoxFor(x => x.PersonelUnvan, new { @class = "form-control", @required = "required" })
        <br />

        @Html.LabelFor(x => x.PersonelTel)
        @Html.TextBoxFor(x => x.PersonelTel, new { @class = "form-control", @required = "required" })
        <br />

        @Html.LabelFor(x => x.PersonelAdres)
        @Html.TextBoxFor(x => x.PersonelAdres, new { @class = "form-control", @required = "required" })
        <br />

        @Html.Label("Departman Adı")
        @Html.DropDownListFor(x => x.DepartmanId, (List<SelectListItem>)ViewBag.dpt1, new { @class = "form-control", @required = "required" })
        <br />
        <button class="btn btn-primary" style="margin-right:20px">Personel Ekle</button>
        <a href="/Personel/Index" class="btn btn-primary">Personel Sayfasına Geri Dön</a>
    </form>
</div>
