@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mt-4">Departman Detay Sayfası</h1>
<br />
<br />
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">@ViewBag.departmanad Departmanına Ait Personellerin Listesi</h4>
    <p>Merhaba, aşağıdaki tabloda seçmiş olduğunuz departmana ait çalışan personellerin listesi bulunmaktadır.</p>
    <p>Personellere ait yapılan satışlara ulaşmak için "Satışlar" butonuna tıklayınız..</p>
</div>
<br />
<br />

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Personel Id</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Görsel</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PersonelId</td>
                <td>@item.PersonelAd</td>
                <td>@item.PersonelSoyad</td>
                <td>@item.PersonelGorsel</td>
                <td><a href="/Departman/DepartmanPersonelSatis/@item.PersonelId" class="btn btn-dark">Satışlar</a></td>
            </tr>
        }
        </tbody>
    </table>