@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket>
@{
    ViewBag.Title = "DepartmanPersonelSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mt-4">Personele Ait Satışlar Sayfası</h1>
<br />
<br />
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">@ViewBag.dper Personelinin Yaptığı Satışlar</h4>
    <p>Merhaba, aşağıdaki tabloda seçmiş olduğunuz departmana ait çalışan personelin yapmış olduğu satışların tam listesi bulunmaktadır.</p>
</div>
<br />
<br />

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam</th>
            <th>Tarih</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Urun.UrunAd</td>
                <td>@item.Cari.CariAd @item.Cari.CariSoyad</td>
                <td>@item.Fiyat ₺</td>
                <td>@item.Adet</td>
                <td>@item.ToplamTutar ₺</td>
                <td>@item.Tarih.ToShortDateString()</td>
                <td><a href="#" class="btn btn-dark">Yazdır</a></td>
            </tr>
        }
    </tbody>
</table>